<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sputtr</title>

  <!-- CSS -->

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Luckiest+Guy&family=Poor+Story&family=Shippori+Mincho+B1&display=swap"
    rel="stylesheet">

  <!--  -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/storyShow.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <div>
    <header id="header">

      <div>
        <a href="/">
          <button class="header-logout">
            logout
          </button>
        </a>
      </div>

      <div>
        <h1 id="header-sputtr">Sputtr</h1>
      </div>

      <div>
        <a href="/storyInProgress">
          <button class="header-saved">
            <img src="/w6/story-creator-middie/img icons/back.png" alt="back-icon">
          </button>
        </a>
      </div>

    </header>
  </div>

  <!-- write to make sure ifCompleted === false in order for title(teller-display) && teller-input to show up -->
  <!-- also write to make ifCompleted === true -->
  <!-- title inputbox is in story -->
  <div id="teller-buttons">



    <h1>Title: <%= story.title %> </h1>

    <% if (story.iscompleted) {%>
      <% for(let contribution in contributions) { %>
        <div><%= contributions[contribution].content %></div>
        <% } %>
      <% } %>


    <% if (!story.iscompleted) {%>
    <h3>accepted </h3>

    <% for(let contribution in contributions) { %>
      <% if (contributions[contribution].status === 'accepted') {%>
      <div><%= contributions[contribution].content %></div>
      <% } %>
    <% } %>

    <h3>pending </h3>

        <% for(let contribution in contributions) { %>
         <% if (contributions[contribution].status === 'pending') {%>
          <div><%= contributions[contribution].content %>
            <script type="text/javascript">

              var clicks = 0;
              function hello() {
                  clicks += 1;
                  document.getElementById("clicks").innerHTML = clicks;
              };
              </script>
              <button type="button" onclick="hello()">Like</button>
              <p>Like <a id="clicks">0</a></p>

            <!-- <button type="submit">
              <img src="/w6/story-creator-middie/img icons/heart.png" alt="heart-icon">
            </button> -->
            <form action="<%= story.id %>/update" method= "POST">
              <% if (story.creatorid === userId) { %>
                <button type="submit">
                  accepted
                </button>
                <% } %>
              </form>
          </div>
          <% } %>



        <% } %>


    <form method="post" action="/storyShow" value="">
      <textarea name="content" class="teller-input"
      placeholder="What happened next?"></textarea>
      <input  type="text" name="storyId"
      value="<%= story.id %>" style="display:none">
      <button type= "submit">
        submit
      </button>
    </form>


      <% } %>




            <!-- <button type="submit">
              edit name
            </button>


            <button type="submit">
              post/finish
            </button>

            <button type="submit">
              clear/delete
            </button> -->


  </div>
  </div>
</body>

</html>
