
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sputtr</title>

  <!-- CSS -->

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Luckiest+Guy&family=Poor+Story&family=Shippori+Mincho+B1&display=swap"
    rel="stylesheet">

  <!--  -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/storyShow.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <div>
    <header id="header">

      <div>
        <form action="/logout" method="POST">
          <button type="submit" class="header-logout">
            logout
          </button>
        </form>
      </div>

      <div>
        <h1 id="header-sputtr">Sputtr</h1>
      </div>

      <div>
        <a href="/storyInProgress">
          <button class="header-saved">
            <img src="/img icons/back.png" alt="back-icon">
          </button>
        </a>
      </div>

    </header>
  </div>

  <div id="teller-buttons">

   <h1><%= story.title %> </h1>

    <% if (story.iscompleted) {%>
      <% for(let contribution in contributions) { %>
        <span><%= contributions[contribution].content %></span>
        <% } %>
      <% } %>


    <% if (!story.iscompleted) {%>

    <% for(let contribution in contributions) { %>
      <% if (contributions[contribution].status === 'accepted') {%>
      <span><%= contributions[contribution].content %></span>
      <% } %>
    <% } %>

    <h3>pending </h3>
        <% for(let contribution in contributions) { %>
         <% if (contributions[contribution].status === 'pending') {%>

          <div>
            <div class="show-heart">
            <%= contributions[contribution].content %>
            <script type="text/javascript">
              var clicks = 0;
              function hello(id) {
                  clicks = 1;
                  document.getElementById(id).innerHTML = clicks;
              };
              </script>
              <br>

                <p style="margin-left: 0.7em;">Like <a id="<%= contributions[contribution].id %>">0</a></p>
              <button type="button" onclick= "hello(<%= contributions[contribution].id %>)"><img src="/img icons/heart.png" alt="heart-icon"></button>


            <form action="<%= contributions[contribution].id %>/accept" method= "POST">
              <% if (story.creatorid === userId) { %>
                <button type="submit">
                  accepted
                </button>
                <% } %>
              </form>
            </div>
          </div>
          <% } %>
        <% } %>
    <form method="post" action="/storyShow" value="">
      <div id="show-textSubmit">
      <textarea name="content" class="teller-input"
      placeholder="What happened next?"></textarea>
      <input  type="text" name="storyId"
      value="<%= story.id %>" style="display:none">
      <button type= "submit">
        submit
      </button>
    </div>
    </form>
      <% } %>

  </div>
</div>

</body>


</html>

